<a href="https://colab.research.google.com/github/Ignacio246/sqlalchemy/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import insert, select, update, delete

In [ ]:
engine = create_engine('sqlite:///prueba.db')

In [ ]:
metadata = MetaData()

In [ ]:
clientes = Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre',String, nullable=False),
    Column('email',String, nullable=False)
)

In [ ]:
metadata.create_all(engine)

In [ ]:
stmt = insert(clientes).values(nombre='Cliente1', email='cliente1@email.com')
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)

In [ ]:
data = [
    {"nombre":"Cliente 2", "email":"cliente2@email.com"},
    {"nombre":"Cliente 3", "email":"cliente3@email.com"},
    {"nombre":"Cliente 4", "email":"cliente4@email.com"}
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)

In [ ]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente1', 'cliente1@email.com')